* {
    padding: 0;
    width: 0:
}

body {
    background: #FF4500;
}

body ::after {}

.container {
    min-height: 100vh;
    width: 100%;
    background: #000;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    align-items: center;
    padding: 20px 0;
}

.logo {
    width: 40px;
}

ul li {
    display: inline-block;
}

ul li a {
    color: whitesmoke;
    text-decoration: none;
    margin: 0 6px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

.content .text {
    width: 65%;
    color: whitesmoke;
}

.content .text h2 {
    font-size: 32px;
    text-align: right;
    font-style: naskh;
}

.content .text p {
    font-size: 18px;
    margin: 20px 0;
    text-align: right;
}

.content .text a {
    text-align: right;
    text-decoration: none;
    background: #fff;
    color: #111;
    padding: 10px 30px;
    border-radius: 20px;
}

.content .image {
    width: 30%;
}

.content .image img {
    width: 325px;
    padding: 40 0;
}

@media (min-width:950px) and (max-width:1150px) {
    .content .image img {
        width: 170px;
    }
}

@media (max-width:950px) { 
    .content, header {
        flex-direction: column;
        justify-content: center;
    }
}
@media (max-width:950px) { 
    .content .image, .content .text {
        width: 80%;
    }
}
